# Configuration Properies used during War configuration by package installer.  Not used at runtime!
pkg_app_config_properties=./temp-staging/war/WEB-INF/conf/controlcenter-config.properties
pkg_application_name=controlcenter
pkg_application_version={{ cc_ver_num }}
pkg_application_include_flash={{ flash_include_option }}
pkg_application_jsp_files_to_omit=
pkg_cc_admin_encrypted_password={{ admin_encrypted_passwd }}
pkg_cc_reporter_encrypted_password={{ admin_encrypted_passwd }}
pkg_cc_reporter_config_password=
pkg_hibernate_dialect=com.abinitio.dashboard.domain.hibernate.util.DashboardPostgreSQLDialect
pkg_installer_jar_includes=
pkg_installer_log4j_location=/{{ ab_app_hub_path }}/apps/{{ cc_instance }}/log.txt
pkg_installer_log4j_issues_location=/{{ ab_app_hub_path }}/apps/{{ cc_instance }}/log-issues.txt
pkg_installer_overlays=pkg\:/overlays/warRoot/web,pkg\:/overlays/defaultConfig/web
pkg_installer_version=0.1
pkg_installer_war_path={{ cc_instance }}.war
pkg_installer_ear_path=
pkg_install_standalone=false
pkg_install_help=false
pkg_start_help=false
pkg_jdbc_databaseName={{ db_name }}
pkg_jdbc_instanceName=
pkg_jdbc_databasePort={{ db_port }}
pkg_jdbc_databaseType={{ db_type }}
pkg_jdbc_dbHostName={{ db_host }}
pkg_jdbc_driverClassName=org.postgresql.Driver
pkg_jdbc_password={{ admin_encrypted_passwd }}
pkg_jdbc_should_encrypt_password=false
pkg_jdbc_use_oracle_wallet=N
pkg_jdbc_oracle_wallet_location_raw=
pkg_jdbc_oracle_wallet_location=
pkg_jdbc_oracle_tns_admin_dir=
pkg_jdbc_url=jdbc:postgresql://${jdbc.dbHostName}:${jdbc.database.port}/${jdbc.databaseName}
pkg_jdbc_url_custom=false
pkg_jdbc_username={{ db_user }}
pkg_jdbc_schemaName=
pkg_jdbc_session_initialization_command=
pkg_op_client_pollingSec=5
pkg_cc_deployment_name={{ cc_instance }}
pkg_op_system_defaultApplicationName=DEFAULT
pkg_op_system_defaultSystemName=DEFAULT
pkg_op_system_productionDayHHMM=00:00
pkg_op_system_timeZoneId=UTC
pkg_appServer_http_port={{ app_port }}
pkg_appServer_monitor_port=
pkg_appServer_https_port=8443
pkg_appServer_use_https=false
pkg_security_channel_requires_secure=0
pkg_appServer_type=Jetty
pkg_appServer_is_liberty=false
pkg_appServer_host={{ web_host }}
pkg_appServer_manager_url=
pkg_appServer_manager_username=
pkg_appServer_manager_encrypw=
pkg_appServer_deploy_path=/{{ cc_instance }}
pkg_appServer_target=
pkg_appServer_deploy_name={{ cc_instance }}
pkg_appServer_jdbc_url=
pkg_help_url={{ app_protocol }}://{{ web_host }}:6361/help
