## Parameter file for 'Metadata Hub' or 'Authorization Gateway' deployment

## NOTE: All parameters must be specified using the syntax
##     <parameter-name>: <value>

deployment.type_basic: 'N'

deployment.name: {{ mhub_instance }}

db.type: {{ db_type }}

db.host: {{ db_host }}

db.name: {{ db_name }}

db.create: 'N'

db.port: {{ db_port }}


db.admin.username: {{ db_user }}
#db.admin.password: ''
db.admin.mhub_encrypted_password: '{{ db_admin_mhub_encrypted_password }}'

db.datastore.prefix: '{{ db_user_schema_prefix }}'
db.report.password: ''
db.report.mhub_encrypted_password: '{{ report_mhub_encrypted_password }}'

## To create an mhub_encrypted password, use the command 'mh-admin encrypt'.
# db.appserver.username:
db.appserver.password: ''
db.appserver.mhub_encrypted_password: '{{ appserver_encrypted_password }}'



## To create an ag_encrypted password, use the command 'mh-admin encrypt'.
## To create an ab_encrypted password, use the command 'm_password -unrestricted'.
## To create an abv1_encrypted password, use the command 'AB_TEST=1 m_password -unrestricted -v1'

# db.importer.username:
db.importer.password: ''
db.importer.mhub_encrypted_password: '{{ importer_mhub_encrypted_password }}'
db.importer.ab_encrypted_password: '{{ importer_ab_encrypted_password }}'
db.importer.abv1_encrypted_password: '{{ importer_abv1_encrypted_password }}'

## To create an mhub_encrypted password, use the command 'mh-admin encrypt'.
# db.report.username:
#db.report.password: ''
#db.report.mhub_encrypted_password: '{{ report_mhub_encrypted_password }}'

ui.webaccess.admin.password: ''
ui.webaccess.admin.password_hash_encrypted: '{{ admin_password_hash_encrypted }}'
## Hashed password used for the 'admin' account, used when logging in from the
## ${PRODUCT_NAME} portal.

ui.webaccess.admin.ab_encrypted_password: '{{ admin_ab_encrypted_password }}'
## Encrypted password used for the 'admin' account, used by importer conn params

ui.webaccess.importer.password: ''

ui.webaccess.importer.password_hash_encrypted: '{{ importer_password_hash_encrypted }}'
## Hashed password used for the 'importer' account, used when logging in from the
## ${PRODUCT_NAME} portal.
## Generated by running this command- './configproviderutils.sh encrypt plaintext-string [-hash]'.

ui.webaccess.importer.ab_encrypted_password: '{{ importer_ab_encrypted_password }}'
## Encrypted password used for the 'importer' account, used by importer conn params

# db.datastore.destroy_if_exists: N


db.dbc.db_nodes: '{{ db_host }}'

db.dbc.custom_template: '{{ mhub_deploy_root }}/{{ mhub_instance }}/mhub.dbc'
db.dbc.encrypted_password: '{{ importer_ab_encrypted_password }}'

appserver.type: '{{ app_type }}'


webapp.clustered.deployment: 'N'

appserver.host: '{{ web_host }}'


appserver.port: '{{ app_port }}'
#appserver.protocol: '{{ app_protocol }}'

lineage.server: 'N'

bridge.security_config: '{{ bridge_security_config }}'
bridge.security_type: '{{ bridge_security_type }}'

bridge.create.security.config: 'n'
bridge.rpc.aes128.key: ''

bridge.rpc.aes128.mhub_encrypted_key: '{{ bridge_rpc_aes128_mhub_encrypted_key }}'
bridge.rpc.aes128.ab_encrypted_key: '{{ bridge_rpc_aes128_ab_encrypted_key }}'


security.encryption.useExternalKey: 'n'

bridge.host: '{{ bridge_host }}'


bridge.port: '{{ bridge_port }}'

# bridge.url: "'{{ bridge_host }}':'{{ bridge_port }}'"

deployment.root: '{{ mhub_deploy_root }}'
deployment.admin_tools_dir :  '{{ mhub_install_path }}/metadata-hub-{{ mhub_version }}/admin-tools'
